/*Хэдеры*/
/*Основной класс хедера*/
header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}
/*Класс отвечающий за цвет хедера*/
header .header-wrap {
    background: rgb(222, 200, 137);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    align-content: flex-start;
    flex-wrap: nowrap;
}

header .header-wrap .logo {
    background: url(/img/news.png) no-repeat 50%;
    background-size: contain;
    display: block;
    height: 100px;
}

header .header-wrap .name {
    font-family: Helvetica, monospace; /* Гарнитура шрифта */
    font-size: 200%;
    font-stretch: ultra-condensed
}

main {
    margin: 120px auto 0;
    max-width: 1410px;
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.sidebar-left .title-sidebar {
    background: #fff;
    border-left: 2px solid #ff00d5;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.sidebar-left {
    position: sticky;
    top: 134px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(100% - 320px);
    width: 100%;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.footer-block {
    background: rgb(222, 200, 137);
    min-height: 120px;
    position: relative;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}